
/*---- tiny -------------------------------------------------*/
@font-face { font-family: 'tiny'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-tiny'; src: url('pixelplay--shnmk14.ttf'); }
.font-tiny { font-family: 'tiny', 'fallback-tiny'; font-size: 8px; line-height: 8px; }

/*---- small -------------------------------------------------*/
@font-face { font-family: 'small_tight'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-small_tight'; src: url('pixelplay--shnmk14.ttf'); }
.font-small_tight { font-family: 'small_tight', 'fallback-small_tight'; font-size: 8px; line-height: 8px; }

@font-face { font-family: 'small_harsh'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-small_harsh'; src: url('pixelplay--shnmk14.ttf'); }
.font-small_harsh { font-family: 'small_harsh', 'fallback-small_harsh'; font-size: 8px; line-height: 9px; }

/*---- regular -------------------------------------------------*/
@font-face { font-family: 'regular'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-regular'; src: url('pixelplay--shnmk14.ttf'); }
.font-regular, body { font-family: 'regular', 'fallback-regular'; font-size: 8px; line-height: 8px; }

@font-face { font-family: 'regular_short'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-regular_short'; src: url('pixelplay--shnmk14.ttf'); }
.font-regular_short { font-family: 'regular_short', 'fallback-regular_short'; font-size: 8px; line-height: 8px; }

/*---- title -------------------------------------------------*/
@font-face { font-family: 'title_tall'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-title_tall'; src: url('pixelplay--shnmk14.ttf'); }
.font-title_tall { font-family: 'title_tall', 'fallback=title_tall'; font-size: 16px; line-height: 16px; }

@font-face { font-family: 'title_news'; src: url('pixelplay--shnmk14.ttf'); } 
@font-face { font-family: 'fallback-title_news'; src: url('pixelplay--shnmk14.ttf'); }
.font-title_news { font-family: 'title_news', 'fallback-title_news'; font-size: 16px; line-height: 16px; }

@font-face { font-family: 'title_thick'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-title_thick'; src: url('pixelplay--shnmk14.ttf'); }
.font-title_thick { font-family: 'title_thick', 'fallback-title_thick'; font-size: 14px; line-height: 11px; }

/*---- ui -------------------------------------------------*/
@font-face { font-family: 'ui_regular'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-ui_regular'; src: url('pixelplay--shnmk14.ttf'); }
.font-ui_regular { font-family: 'ui_regular', 'fallback-ui_regular'; font-size: 8px; line-height: 8px; }

/*---- large -------------------------------------------------*/
@font-face { font-family: 'large'; src: url('pixelplay--shnmk14.ttf'); }
@font-face { font-family: 'fallback-large'; src: url('pixelplay--shnmk14.ttf'); }
.font-large { font-family: 'large', 'fallback-large'; font-size: 8px; line-height: 10px; }
